trl
image-reward
git+https://github.com/tgxs002/HPSv2.git
pyiqa>=0.1.12
diffusers
peft
einops
transformers
accelerate
datasets
xformers
wandb
fastprogress
matplotlib
tqdm
tensorflow-cpu
lightning-bolts